<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form (ngSubmit)="changePassword()">
          <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input type="password" class="form-control" id="oldPassword" placeholder="Enter your old password" [(ngModel)]="oldPassword" name="oldPassword" required>
          </div>
          <br/>
          <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword" placeholder="Enter your new password" [(ngModel)]="newPassword" name="newPassword" required>
          </div>
          <br/>
          <div class="form-group">
            <label for="repeatNewPassword">Repeat New Password</label>
            <input type="password" class="form-control" id="repeatNewPassword" placeholder="Repeat your new password" [(ngModel)]="repeatNewPassword" name="repeatNewPassword" required>
          </div>
          <br/>
          <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
      </div>
    </div>
  </div>
  