<div class="container-fluid">
  <div class="row primer" *ngIf="role">
    <div class="col">
      <app-navbar-admin *ngIf="role === 'ROLE_ADMIN'"></app-navbar-admin>
      <app-navbar-user *ngIf="role === 'ROLE_USER'"></app-navbar-user>
      <app-navbar-manager *ngIf="role === 'ROLE_MANAGER'"></app-navbar-manager>
    </div>
  </div>
</div>

<div *ngIf="role === 'ROLE_MANAGER' || role === 'ROLE_ADMIN'">
  <div class="container-fluid">
    <app-facilities></app-facilities>
  </div>
</div>


<div *ngIf="role === 'ROLE_USER'">

<div class="container-fluid">
  <app-search-facility (searchResults)="onSearchResults($event)"></app-search-facility>

  <div *ngIf="searchResults.length > 0; else noSearchResults">
    <h2>Search Results</h2>
    <div *ngFor="let facility of searchResults">
      <app-facility-card [facility]="facility"></app-facility-card>
    </div>
  </div>

  <!-- Template to be displayed when there are no search results -->
  <ng-template #noSearchResults>
    <div class="no-facilities">Press the search to find the facilities that are to your liking.</div>
  </ng-template>
  <hr/>
  <div class="container" *ngIf="popularFacility.length > 0">
    <h2>The popular facilities at the moment!</h2>
    <div *ngFor="let facility of popularFacility">
      <app-facility-card [facility]="facility"></app-facility-card>
    </div>
  </div>

  <div class="container" *ngIf="visitedFacility.length > 0">
    <h2>Revisit some of the facilities</h2>
    <div *ngFor="let facility of visitedFacility">
      <app-facility-card [facility]="facility"></app-facility-card>
    </div>
  </div>

  <div class="container" *ngIf="unvisitedFacility.length > 0">
    <h2>... or find new facilities that might pique your interest</h2>
    <div *ngFor="let facility of unvisitedFacility">
      <app-facility-card [facility]="facility"></app-facility-card>
    </div>
    <button (click)="loadMore()" *ngIf="page < totalPages - 1" class="btn btn-primary">Explore More</button>
  </div>
</div>
</div>
